:root
	--default-font: "Montserat", Arial, sans-serif

	--base-width: 1400px

	--body-bg-color: #1F1F1F
	--body-text-color: #fff

	--base-font-size: 14px

	--main-color: #C15144

	--second-color: #F4F4F4
	--thrid-color: #202730
	
	--border-color: #E5E5E5


	--input-hor-spacing: em(84)
	--input-vert-spacing: em(58)

	--input-padding: 20px 0 20px
	--select-padding: 20px 35px 20px 0