:root
	--default-font: "Montserat", Arial, sans-serif

	--base-width: 1200px

	--body-bg-color: #F8F3F3
	--body-text-color: #000

	--base-font-size: 14px

	--main-color: #000

	--second-color: #F8F3F3
	--thrid-color: #202730
	
	--border-color: #E9E3E3


	--input-hor-spacing: em(45)
	--input-vert-spacing: em(33)

	--input-padding: 10px 18px 10px
	--select-padding: 10px 35px 10px 18px

	--catalog-cutch: 352px

	--base-padding: em(76)