footer.footer
    .footer__wrap
        .footer__copy
            .f-copy
                a.f-copy__link(href="#") Политика конфиденциальности
                .f-copy__text &copy; 2019, «Capitol» салон кожи меха
        .footer__soc
            .soc
                a.soc__link(href="#")
                    <!-- /img/ico-inst.svg -->
                    include ../../img/ico-inst.svg
                a.soc__link(href="#")
                    <!-- /img/ico-vk.svg -->
                    include ../../img/ico-vk.svg
                a.soc__link(href="#")
                    <!-- /img/ico-fb.svg -->
                    include ../../img/ico-fb.svg
        .footer__dev
            a.f-dev(href="https://xpage.ru" targer="_blank")
                <!-- /img/developer.svg -->
                include ../../img/developer.svg

//- include forms.pug