footer.footer
    .footer__wrap
        .footer__copy
            .f-copy
                .f-copy__text &copy; Автошкола №1 «КАФС» 2019 
                a.f-copy__link(href="#") Политика конфиденциальности
        .footer__btn
            a.default-btn.fancybox(href="#write") Записаться на курсы
        .footer__contacts
            .h-contacts
                address.h-contacts__phone
                    a(href="tel: 8 (351) 253-15-47") 8 (351) 253-15-47
                a.h-contacts__link.fancybox(href="#call") Связаться с нами
        .footer__dev
            a.f-dev(href="https://xpage.ru" targer="_blank")
                span.f-dev__text Сделано в
                img(src="img/ico-developer.svg")

include forms.pug