header.head
	.head__wrap
		.head__logo
			a.logo(href="#")
				img(src="img/logo.svg")
		nav.head__menu
			ul.h-menu
				li.h-menu__item
					a.h-menu__link(data-title="new" href="#") Новинки
				li.h-menu__item.h-menu__item--submenu
					a.h-menu__link(href="#") Женщины
					ul.h-submenu
						each title in ["Пункт 1", "Пункт 2", "Пункт 3", "Пункт 4"]
							li
								a.h-submenu__link(href="#")=title
				li.h-menu__item.h-menu__item--submenu
					a.h-menu__link(href="#") Мужчины
					ul.h-submenu
						each title in ["Пункт 1", "Пункт 2", "Пункт 3", "Пункт 4"]
							li
								a.h-submenu__link(href="#")=title
				li.h-menu__item
					a.h-menu__link(href="#") Аутлет
		.head__search
			button.search-btn
		.head__city
			.h-city
				select
					option(value="1") Челябинск
					option(value="2") Челябинск1
					option(value="3") Челябинск2
		.head__links
			.h-links
				.h-links__lc
					a.lc-link(href="#")
				.h-links__favorite
					a.favorite-linka.lc-link(href="#" data-count="3")
				.h-links__cart
					a.cart-linka.lc-link(href="#" data-count="3")
		.head__burger
			.burger
				span