.notificator
	.wrapper
		.notificator__text Товар успешно добавлен в  
			a(href="#") корзину
header.head
	.head__wrap
		.head__logo
			a.logo(href="#")
				img(src="img/logo.svg")
		nav.head__menu
			ul.h-menu
				li.h-menu__item
					a.h-menu__link(data-title="new" href="#") Новинки
				li.h-menu__item.h-menu__item--submenu
					a.h-menu__link(href="#") Женщины
					ul.h-submenu
						each title in ["Пункт 1", "Пункт 2", "Пункт 3", "Пункт 4"]
							li
								a.h-submenu__link(href="#")=title
				li.h-menu__item.h-menu__item--submenu
					a.h-menu__link(href="#") Мужчины
					ul.h-submenu
						each title in ["Пункт 1", "Пункт 2", "Пункт 3", "Пункт 4"]
							li
								a.h-submenu__link(href="#")=title
				li.h-menu__item
					a.h-menu__link(href="#") Аутлет
		.head__search
			a.search-btn(href="#")
		.head__city
			.h-city
				select
					option(value="1") Челябинск
					option(value="2") Челябинск1
					option(value="3") Челябинск2
					option(value="4") Челябинск3
					option(value="5") Челябинск4
					option(value="6") Челябинск5
					option(value="7") Челябинск6
					option(value="8") Челябинск7
		.head__links
			.h-links
				.h-links__lc
					a.lc-link(href="#")
						<!-- /img/ico-lc.svg -->
						include ../../img/ico-lc.svg
				.h-links__favorite
					a.favorite-link(href="#" data-count="3")
						<!-- /img/ico-favorite.svg -->
						include ../../img/ico-favorite.svg
				.h-links__cart
					a.cart-link(href="#" data-count="3")
						<!-- /img/ico-cart.svg -->
						include ../../img/ico-cart.svg
		.head__burger
			.burger
				span
	include poup-menu.pug