<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")
        title Каталог товаров
        include inc/head.pug
        include inc/css.pug
    body.inner.loading.page-catalog
        include inc/header.pug
        main#content
            .inner-content
                .inner-content__title
                    include mixins/title-block.pug
                    +titleBLock(["Capitol", "Женщинам", "Каталог товаров"], false)
                .inner-content__content
                    .catalog
                        .catalog-list
                            each item, i in [{title: "Куртки", count: 10}, {title: "Пальто", count: 9}, {title: "Плащи", count: 15}, {title: "Полупальто", count: 12}, ]
                                .catalog-list__item
                                    .cat-item
                                        .cat-item__img
                                            a.cat-item__img-img(href="#")
                                                img(src="img/photos/catalog-img-"+i+".jpg" loading="lazy")
                                        .cat-item__desc
                                            a.cat-item__desc-title(href="#")
                                                .cat-item__title(data-count=item.count)
                                                    span=item.title
                .inner-content__footer
                    include inc/footer.pug
        include inc/scripts.pug