<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")
        title Личный кабинет
        include inc/head.pug
        include inc/css.pug
    body.inner.loading.full-width-page 
        include inc/header.pug
        main#content
            .inner-content
                .inner-content__title
                    include mixins/title-block.pug
                    +titleBLock(["Capitol", "Личный кабинет"], false)
                .inner-content__content
                    .lc
                        .lc__links
                            .lc-links
                                .lc-links__link
                                    a.lc-tab(href="#") Мой профиль
                                .lc-links__link
                                    a.lc-tab.active(href="#") wishlist
                                .lc-links__link
                                    a.lc-tab(href="#") Мои заказы
                                select
                                    option(value="0") Мой профиль
                                    option(value="1" selected="") wishlist
                                    option(value="2") Мои заказы
                        .lc__content
                            .lc-wishlist
                                .cart__list
                                    .cart__list-item
                                        .cart-item
                                            a.cart-item__img(href="#")
                                                img(src="img/photos/cart-img-0.jpg")
                                            .cart-item__desc
                                                .ci-desc
                                                    .ci-desc__title
                                                        a.ci-title(href="#") Двубортное пальто с поясом
                                                    .ci-desc__sizes
                                                        .row-item__title Размеры RUS
                                                            .row-item__content
                                                                .row-item__content-sizes
                                                                    .ci-sizes__list
                                                                        .ci-sizes__list-item
                                                                            .filter-item.filter-item--tag
                                                                                .default-input__label 42/44
                                                    .ci-desc__index
                                                        .row-item
                                                            .row-item__title Артикул
                                                            .row-item__text М-18-77
                                                    .ci-desc__counter
                                                        .counter
                                                            a.counter__btn.counter__btn--minus(href="#")
                                                            input.counter__input(type="tel" value="1")
                                                            a.counter__btn.counter__btn--plus(href="#")
                                                    .ci-desc__price-actions
                                                        .ci-prices
                                                            .ci-prices__summ 19 400 руб.
                                                            .ci-prices__count за 1 шт.
                                                        .ci-favorite
                                                            a.default-btn(href="#") В корзину
                                                        .ci-remove
                                                            a.remove-link(href="#")
                                    .cart__list-item
                                        .cart-item
                                            a.cart-item__img(href="#")
                                                img(src="img/photos/cart-img-1.jpg")
                                            .cart-item__desc
                                                .ci-desc
                                                    .ci-desc__title
                                                        a.ci-title(href="#") Двубортное пальто
                                                    .ci-desc__sizes
                                                        .row-item__title Размеры RUS
                                                            .row-item__content
                                                                .row-item__content-sizes
                                                                    .ci-sizes__list
                                                                        .ci-sizes__list-item
                                                                            .filter-item.filter-item--tag
                                                                                .default-input__label 42/44
                                                    .ci-desc__index
                                                        .row-item
                                                            .row-item__title Артикул
                                                            .row-item__text М-18-77
                                                    .ci-desc__counter
                                                        .counter
                                                            a.counter__btn.counter__btn--minus(href="#")
                                                            input.counter__input(type="tel" value="1")
                                                            a.counter__btn.counter__btn--plus(href="#")
                                                    .ci-desc__price-actions
                                                        .ci-prices
                                                            .ci-prices__summ 19 400 руб.
                                                            .ci-prices__count за 1 шт.
                                                        .ci-favorite
                                                            a.default-btn(href="#") В корзину
                                                        .ci-remove
                                                            a.remove-link(href="#")
                                    .cart__list-item
                                        .cart-item
                                            a.cart-item__img(href="#")
                                                img(src="img/photos/cart-img-1.jpg")
                                            .cart-item__desc
                                                .ci-desc
                                                    .ci-desc__title
                                                        a.ci-title(href="#") Двубортное пальто с поясом
                                                    .ci-desc__sizes
                                                        .row-item__title Размеры RUS
                                                            .row-item__content
                                                                .row-item__content-sizes
                                                                    .ci-sizes__list
                                                                        .ci-sizes__list-item
                                                                            .filter-item.filter-item--tag
                                                                                .default-input__label 42/44
                                                    .ci-desc__index
                                                        .row-item
                                                            .row-item__title Артикул
                                                            .row-item__text М-18-77
                                                    .ci-desc__counter
                                                        .counter
                                                            a.counter__btn.counter__btn--minus(href="#")
                                                            input.counter__input(type="tel" value="1")
                                                            a.counter__btn.counter__btn--plus(href="#")
                                                    .ci-desc__price-actions
                                                        .ci-prices
                                                            .ci-prices__summ 19 400 руб.
                                                            .ci-prices__count за 1 шт.
                                                        .ci-favorite
                                                            a.default-btn(href="#") В корзину
                                                        .ci-remove
                                                            a.remove-link(href="#")
                .inner-content__footer
                    include inc/footer.pug
        include inc/scripts.pug