@import "catalog-list.sss"
@import "catalog-item.sss"
@import "catalog-filter.sss"
@import "catalog-sort.sss"
@import "catalog-tovar.sss"
@import "tovar-available.sss"

@import "counter.sss"

body[class*="page-catalog"]:not(.search-page)

    .inner-content__content:first-child, .inner-content__content:nth-child(2), .inner-content__footer:nth-child(2), .inner-content__footer:nth-child(3), .inner-content__title:first-child
        max-width: 100%