@import "links.sss"
@import "profile.sss"
@import "orders.sss"

@media (min-width: 1300px)
    .lc

        &__links
            margin: 0 0 52px

@media (max-width: 1300px)
    .lc

        &__links
            margin: 0 0 30px