@import "orders-nav.sss"
@import "orders-list.sss"
@import "orders-status.sss"

.lc-orders

    &__links
        margin: 0 0 10px

.orders-list

    &__item

        &-content
            display: none
            transition: height .5s ease, border-color .3s ease
            border-top: 1px solid transparent
            border-bottom: 1px solid var(--border-color)

.order-contains

    &:not(:first-child)
        margin: 52px 0 0